{% extends 'base.html' %}
{% block title %}Contact US{% endblock title %}
{% block contact %}
{% if messages %}
{% for message1 in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{message1}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container-fluid bg-success p-2 text-dark bg-opacity-50">
    <h2 class="text-center pt-5">Contact Us<hr/></h2>
    <div class="row px-5">
        <div class="col-6">
            <form action="/contact/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile" placeholder="Your Mobile">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message Goes Here</label>
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Send Your Message</button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-5 pt-5">
            <p>If you have any questions or comments, we would very much like to hear from you. We value your comments, complaints, and suggestions.</p>
            <ul>
                <li>For Further information on our services and the JobsCenter system, please use the form below or email:</li>
                <li>For support and technical questions, please contact our support team: support@jobscenter.com</li>
                <li>For Sales and Marketing questions, please contact our sales team: info@jobscenter.com</li>
            </ul>
            <p>You can also call us during business hours in Nepal at: (977-1) 5447709/ 5447710 (Sunday-Friday)</p>
        </div>
    </div>
</div>
<div class="container p-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112582.61289764273!2d82.23034627350502!3d28.14019654624359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3997f48067888c31%3A0xf0fd3f01e7a94104!2sTulsipur!5e0!3m2!1sen!2snp!4v1673889408262!5m2!1sen!2snp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock contact %}