{% extends 'base.html' %}
{% block title %}Help{% endblock title %}
{% block help %}
<div class="container-fluid py-5 bg-success  text-dark bg-opacity-25 ">
    <h4 class="py-2 px-2">Frequently Asked Question</h4>

    <div class="accordion accordion-flush px-5" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is JobsCenter?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">JobsCenter is an online common platform for both Jobseekers and Employers within Nepal. Jobseekers can place multiple resumes, search jobs, apply online and do much more. Employers can benefit by keeping the profile of their company/organization, posting their job vacancies, and search for suitable candidates among resume posters by qualification, experience, and expertise.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    When was JobsCenter started?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">JobsCenter was launched on 14th Aug 2000 with the intention to help both the Jobseeker and Employer meet via Nepal's fast-growing IT (Information technology) sector.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What are the various services that JobsCenter provide?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">JobsCenter is a common platform for both Job Seekers and Employers. If you register/sign up as a job seeker then you can write and save multiple resumes, search open vacancies posted at JobsNepal.com, see the profiles of the companies who are registered, apply for a job online, and be notified via e-mail when any job that matches your criteria is posted. As an Employers registered at JobsNepal.com, you can not only keep your company profile but post Normal Jobs / Hot Jobs/ Top Jobs vacancies at your company, search resumes/CV, view profiles of other employers and more. This is just a partial list of JobsNepal.com features. Please explore the site to discover all the other features.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What are the charges for your services?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">We have recently introduced our Company account system for employers, and charge a modest fee for posting jobs on JobsCenter. See more information via the "Employer Accounts" link at the top of this page. The services provided by JobsNepal.com for the Job Seeker will always be completely free.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How can I put my advertisement on JobsCenter?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">We encourage anyone who is interested to place a banner advertisement on our website. We would also be happy to exchange banners with other websites and paying business houses. Please contact at: JobsNepal.com Team Tel: 00977-1-554 77 09 Email: info@jobscenter.com</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How can I contact JobsCenter team?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body bg-success p-2 text-dark bg-opacity-10">For any further information, please feel free to contact us at: JobsNepal.com Team Tel: 00977-1-554 77 09, Email: info@jobscenter.com or vacancy@jobscenter.com</div>
            </div>
        </div>
    </div>
</div>
{% endblock help %}