{% extends 'base.html' %}
{% block title %}Job Center{% endblock title %}
{% block body %}
{% load static %}
<!-- Menu Buttom Content.... -->
<div class="container-fluid py-3 bg-primary">
  <div class="row">
    <div class="col-6 text-center">
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-warning">2 Years</button>
        <button type="button" class="btn btn-success text-white">at your service</button>
      </div>
    </div>
    <div class="col-6">
      <h5 class="text-white">A dream doesn't become reality through magic; it takes sweat, determination and hard
        work. ...</h5>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-5 px-5 mx-5">
      <h5 class="text-white">Find jobs, vacancy, career online.</h5>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Job Title,Job Category, Company"
          aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="container-fluid px-3">
  <div class="row">
    <div class="col-4">
      <h5 class="py-2">INSTANT JOB PLACEMENT</h5>
      <div id="list-example" class="list-group">
        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Job Title
          </div>
          <div class="col-4">
            Deadline
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Sales(male)
          </div>
          <div class="col-4">
            10 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Accountant(Female)
          </div>
          <div class="col-4">
            6 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Computer technician
          </div>
          <div class="col-4">
            5 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            React Developer
          </div>
          <div class="col-4">
            7 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Civil Engineer
          </div>
          <div class="col-4">
            10 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            English Teacher
          </div>
          <div class="col-4">
            12 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Computer Teacher
          </div>
          <div class="col-4">
            3 days
          </div>
        </div>

        <div class="row d-flex list-group-item list-group-item-action">
          <div class="col-8">
            Python Developer
          </div>
          <div class="col-4">
            2 days
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row py-2 ">
        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-4 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-2 ">
        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-4 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-2 ">
        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-4 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-2 ">
        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-3 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 px-3">
          <div class="row py-3 border border-success">
            <div class="col-4 py-3">
              <img src="{% static 'images/p1.jpeg' %}" alt="">
            </div>
            <div class="col-8">
              <h7 class="fs-6 fw-bold">Expression of Inter</h7>
              <p class="fs-6 fw-normal">
                VSO Nepal
                Bhaktapur
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->

{% include "popular.html" %}
{% include "fulltime.html" %}
{% include "parttime.html" %}

{% endblock body %}