{% extends 'base.html' %}
{% block title %}Signup - JobsCenter{% endblock title %}

{% block signup %}
{% if messages %}
{% for message1 in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{message1}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid bg-success p-5 text-dark bg-opacity-50">
    <h2 class="text-center pt-5">JobCenter Registration
        <hr />
    </h2>
    <div class="row px-5">
        <div class="col-12">
            <form action="/signup/" method="post">
                {% csrf_token %}
                <div class="row">
                    <h5>Login Informations</h5>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                            <input type="email" class="form-control" name="email1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password1">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Retype Email Address</label>
                            <input type="email" class="form-control" name="email2">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Retype Password</label>
                            <input type="password" class="form-control" name="password2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5>Personal Information</h5>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="fname">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Mobile Number</label>
                            <input type="number" class="form-control" name="mobile">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lname">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock signup %}